body{
    background-color: #999988;
}
.welcome-note{
    color: #ffffff;
    font-size: 50px;
    margin: 700px;
}

/*.logo{
    width: 100%;
    height: 100%;
    margin-left: -3.6%;
}

.main-image{
    width: 102%;
    height: 580px;
    background-image: url("../images/main.png");
    margin-left: -13px !important;
}*/

.container-page{
    background-color: #ffffff ;
    width: 100%;
    height: 900px;
}

.container-all{
    width: 1930px;
}

.leftDrawer{
    background-color: #000000;
    height: 900px;
}

.signUp-form{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    padding: 30px;
}

.login-form{
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    padding: 30px;
}

.signUp-button{
    background-color: #FF0000;
    color: #ffffff;
}

.createProject-form-lg{
    background-color: #E6E6E6;
    border-radius: 10px;
    width: 600px;
    margin-left: 325px;
    padding: 30px;
}
.createProject-form-md{
    background-color: #E6E6E6;
    border-radius: 10px;
    width: 600px;
    padding: 30px;
}
.addMemberToProject-form{
    background-color: #E6E6E6;
    border-radius: 10px;
    width: 600px;
    margin-left: 325px;
    padding: 30px;
}

.myProfile-form-lg{
    background-color: #E6E6E6;
    border-radius: 10px;
    width: 600px;
    margin-left: 325px;
    padding: 30px;
    text-align: left;
}
.myProfile-form-md{
    background-color: #E6E6E6;
    border-radius: 10px;
    width: 600px;
    padding: 30px;
    text-align: left;
}
.retrospective-form{
    background-color: #E6E6E6;
    border-radius: 10px;
    width: 600px;
    margin-left: 325px;
    padding: 30px;
    text-align: left;
}

.table-header{
    background-color: #000000;
    color: #ffffff;
}

.project-table{
    margin: 50px;
}

.button{
    background-color: #000000 !important;
    color: #ffffff !important;
}
/*.custom-button{
    background-color: black !important;
    color: white !important;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}*/
.logo{
    width: 81%;
    margin-left: -3.6%;
}
.main-image{
    width: 103%;
    height: 42.5em;
    background-image: url("../images/main.png");
    background-repeat: no-repeat;
    margin-left: -2% !important;
    background-size: cover;
}
.custom-button{
    background-color: black !important;
    color: white !important;
    width: 40%;
    height: 40px;
    margin-left: 5%;
    margin-top: 3%;
}
.project-name{
    font-size: 20px;
    text-decoration: underline;
    margin-top: 15px;
}
.overlay{
    margin-left: 1680px;
    margin-top9: 60px;
}