body{
    background-color: #999988;
}

.row {
    /*margin-top: 50px;*/
}

.logo{
    width: 300px;
    height: 60px;
    background-image: url("../images/synerzip.png");
}

.main-image{
    width: 1300px;
    height: 1200px;
    display: inline-block;
    background-image: url("../images/main.png");
    background-size: contain;
    background-repeat: no-repeat;
}






